@import 'animation'

/////////////////////VARIABLES///////////////
$primary-backgroundcolor: #1d1d1d
$accent-color: #ffc400
$text-color: #ffffff
$documentBackgroundColor: #ffffff
$selection-color: #f9e5a5

////////////////////BASE///////////////////
*
  box-sizing: border-box

body
  font:
    family: 'Raleway', sans-serif
    size: 18px
    weight: 300
  color: $text-color
  // background-color: $documentBackgroundColor

.clearfix:before, .clearfix:after
  content: " "
  display: table

.clearfix::after
  clear: both


p
  margin: 0 0 20px 0

hr
  border: solid #e3e3e3
  border-width: 1px 0 0
  clear: both
  height: 0

h1,h2,h3,h4,h5,h6
  color: #3d3d3d

h2
  font-size: 20px
  font-weight: 700
  display: inline-block

::selection
  background: $selection-color

::-moz-selection
  background: $selection-color

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  //
  -webkit-tap-highlight-color: $selection-color

//////////////HEADER////////////////
#header
  width: 100%
  height: 750px
  position: relative

  .left-control-prev
    width: 70px
    height: 100%
    position: absolute
    top: 0
    left: 0px
    cursor: pointer

  .right-control-next
    width: 70px
    height: 100%
    position: absolute
    top: 0
    right: 0px
    cursor: pointer

  .button-nav
    width: 50px
    height: 50px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.header-wrapper
  margin: 0
  height: 100%
  position: relative


  #head
    width: 100%
    min-width: 90%
    height: 80px
    padding: 0 60px
    position: fixed
    z-index: 1000
    opacity: 0.8
    background: $primary-backgroundcolor


    #navMenu
      height: inherit
      float: left
      padding: 20px 0
      display: flex
      justify-content: space-between
      align-items: center


      .logo
        font-size: 18px
        font-weight: 700
        margin: 5px 0 0 0
        margin-right: 40px

      .logo + ul
        list-style-type: none
        margin: 0
        padding: 0

        li
          float: left
          margin-right: 25px

          a
            text-transform: uppercase
            text-decoration: none
            color: #cccccc
            font-size: 12px
            font-weight: 400

            &:hover
              color: $text-color



    #searchForm
      float: right
      padding: 25px 0
      width: 320px
      height: 80px
      // margin-top: 5px


      input
        height: 100%
        display: inline-block
        border: 0
        float: left
        font-size: 12px
        border-width: 0px
        padding: 5px 15px
        // border-radius: 2px

      input[type="text"]
        width: 70%
        border: 1.8px solid #3d3d3d
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        background: none
        color: #c0c0c0

        &:focus
          outline-color: $accent-color
          border: none
          color: $text-color

      input[type="button"]
        width: 30%
        background: $accent-color
        color: $text-color
        font-weight: 700
        border-top-right-radius: 2px
        border-bottom-right-radius: 2px

        &:focus
          outline-color: $accent-color
        &:hover
          cursor: pointer

#banner1
  z-index: 2

.banner-belt
  width: 100%
  height: 100%
  position: absolute
  top: 0
  display: none

  &.active-slide
    display: block

  .bannerWrapperContent
    max-width: 850px
    margin: 0 0 0 -425px
    position: absolute
    top: 28%
    left: 50%
    z-index: 1
    display: flex


    .poster
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.157)
      border-radius: 10px
      position: relative
      cursor: pointer

      .featured-image
        display: block
        width: 250px
        height: 350px
        border-radius: 10px

      .play-button
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) scale(1)
        transition: all 0.3s ease
        width: 60px
        height: 60px



      &:hover .play-button
        transform: translate(-50%, -50%) scale(2)

    .bannerDescription
      margin-left: 60px
      display: flex
      align-items: center

    .bannerWrapper


      & > h2
        font-size: 20px
        font-weight: 700
        letter-spacing: 0.5px
        color: $text-color
        display: inline-block
        margin-right: 20px
        margin-bottom: 5px

      & > .rating
        display: inline-block
        position: relative
        top: -3px

        .fa
          font-size: 14px
          margin-right: 5px
          color: $accent-color

        & > .inactive
          color: #cccccc

      & > .description
        font-size: 14px
        font-style: italic
        line-height: 1.5

      & > .info
        font-size: 14px
        font-weight: 400
        // margin-top: 20px

        span
          font-weight: 700
          font-size: 18px
          margin: 0 10px
          color: $text-color

        .comma
          margin: 0

/////////////////////UPCOMING MOVIES////////////////////////

.wrapper
  width: 1160px
  min-width: 90%
  height: 100%
  margin: 0 auto
  padding: 75px 0

.head-movie
  margin-bottom: 20px
  & > h2
    margin: 0
    float: left
  & > a
    font-size: 14px
    font-weight: 700
    text-decoration: none
    float: right
    color: $accent-color
    margin-top: 5px

    &:hover
      text-decoration: underline

.row
  display: flex
  justify-content: space-between

  .column-item
    box-shadow: 0px 0px 8px 3px rgba(128, 128, 128, 0.227)
    border-radius: 5px
    position: relative
    overflow: hidden
    cursor: pointer

    .overlay-content
      position: absolute
      top: 0
      right: 0px
      left: 0px
      height: 100%
      padding: 0 10px
      border-radius: 5px
      background: fade-out($accent-color, 0.1)
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
      transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

      .overlay-wrapper
        position: absolute
        top: 50%
        transform: translateY(-50%)
        text-align: center
        font-weight: 400
        color: $text-color

        strong
          font-weight: 700
          font-size: 20px
          text-transform: uppercase
          display: inline-block
          margin-bottom: 8px


        strong + .movie-desc
          font-size: 14px
          line-height: 1.4
          margin-bottom: 20px


        .movie-info
          font-size: 14px
          font-weight: 700



      // -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
      // transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

    &:hover .overlay-content
      @extend .animation-target



  .movie-pic
    display: block
    width: 220px
    height: 300px
    border-radius: 5px


//////////////////////////SUBSCRIBE////////////////////////////////////
#subscribe
  background-color: $primary-backgroundcolor

.wrapper
  text-align: center

  #subscribeContent
    display: inline-block
    max-width: 500px

    h2
      color: $text-color
      margin: 0 0 35px 0
      line-height: 1.5

    h2 + form
      display: flex
      flex-direction: column
      font-size: 14px

#textSubscribe
  height: 40px
  margin-bottom: 15px
  background-color: rgba(44, 44, 44, 0.639)
  border-radius: 5px
  border: 0.5px solid rgb(189, 189, 189)
  padding: 5px 15px
  text-align: center
  text-transform: uppercase
  color: #c0c0c0

  &:focus
    outline-color: $accent-color
    border: none
    color: $text-color
    text-transform: none
//

#buttonSubscribe
  width: 300px
  display: inline-block
  margin: 0 auto
  height: 50px
  border-radius: 5px
  background-color: $accent-color
  color: $text-color
  font-weight: 300
  border: none
  box-shadow: 0
  transition: all 0.5s ease-in-out

  &:focus
    outline: 0
    outline-color: none
  &:hover
    box-shadow: 0 0 10px $accent-color
    cursor: pointer


//////////////////FOOTER///////////////////////
#footer
  text-align: center
  color: #3d3d3d
  height: 190px

  .wrapper
    padding: 50px 0

  .logo
    font-size: 18px
    font-weight: 700

  #navMenu
    display: inline-block
    ul
      list-style-type: none
      margin: 0
      padding: 0

      li
        font-size: 14px
        font-weight: 700
        float: left
        margin-right: 25px


        a
          text-decoration: none
          color: #9f9f9f
          text-transform: uppercase

        a:hover
          color: $accent-color
          text-decoration: underline

  .copyright
    color: #9f9f9f
    font-size: 14px



#circle-wrapper
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  z-index: 10
  .fa
    font-size: 10px
    opacity: 0.5
    margin-right: 5px
    cursor: pointer

    &.active-slide
      opacity: 1

.control-nav
  opacity: 0
  transition: all 1s ease

  &:hover
    opacity: 1
