section#footer
  .wrapper
    p.logo GoogleWatch
    navbar#navMenu.clearfix
      ul
        li.menu-item
          a(href="#") About
        li.menu-item
          a(href="#") Genre
        li.menu-item
          a(href="#") Terms of Services
        li.menu-item
          a(href="#") Privacy Settings
    p.copyright Copyright 2016, GoogleWatch, All Right Reserve
    
