section#footer
  .wrapper  
    #footer-content    
      p.logo GoogleWatch
      navbar#navMenuFooter.clearfix
        ul
          li.menu-item
            a(href="#") About
          li.menu-item
            a(href="#") Genre
          li.menu-item
            a(href="#") Terms of Services
          li.menu-item
            a(href="#") Privacy Settings
      p.copyright Copyright 2016, GoogleWatch, All Right Reserve
    
