header#header.clearfix
  .head-wrapper
    #head      
      navbar#navMenu
        p.logo GoogleWatch
        ul
          li.menu-item
            a(href="#") Genre
          li.menu-item
            a(href="#") TV-Series
          li.menu-item
            a(href="#") Subscribe
          li.menu-item
            a(href="#") Popular
      form#searchForm
        input(type="text" placeholder="Type a movie or TV-Series..." class="search-text")    
        input(type="button" value="Search" class="search-button")
    #bannerWrapperContent
      #poster
        img(src="assets/img/upcoming/suicide-squad.jpg" alt="title" class="featured-image")      
        img(src="assets/img/play.png" alt="play-button" class="play-button")
      #bannerDescription
        #bannerWrapper
          h2 SUICIDE SQUAD
          .rating
            i(class="fa fa-star")
            i(class="fa fa-star")
            i(class="fa fa-star")
            i(class="fa fa-star")
            i(class="fa fa-star inactive")
          p.description Super heroes aren't the answer to every problem. Sometimes, extreme situations require extreme measures… or extreme individuals. The sort of individuals who call the infamous Belle Reve Prison home—super-villains. A group of super-villains who have license to take drastic action in the name of serving a mission? There's no way that can end badly.
          p.info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min       
