section#popularMovies
  .wrapper
    .head-movie.clearfix
      h2 Popular Movies
      a(href="#") View all movie
    .row
      .column-item
        img(src="assets/img/popular/teenage.jpg" alt="teeange mutant ninja turtle" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
      .column-item
        img(src="assets/img/popular/civilwar.jpg" alt="captain america: civil war" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
      .column-item
        img(src="assets/img/popular/godsofegypt.jpg" alt="gods of egypt" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
      .column-item
        img(src="assets/img/popular/zootopia.jpg" alt="zootopia" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
      .column-item
        img(src="assets/img/popular/deadpool.jpg" alt="deadpool" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
      .column-item
        img(src="assets/img/popular/deadpool.jpg" alt="deadpool" class="movie-pic")
        .overlay-content
          .overlay-wrapper
            strong Warcraft
            p.movie-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloo.
            p.movie-info Action<span class="comma">, </span> Adventure<span class="comma">, </span>Comedy <span>|</span> August 05<span class="comma">, </span>2016 <span>|</span> 108min                     
