section#popularMovies
  .wrapper
    .head-movie.clearfix
      h2 Popular Movies
      a(href="#") View all movie
    .row
      .column-item
        img(src="assets/img/popular/teenage.jpg" alt="teeange mutant ninja turtle" class="movie-pic")
      .column-item
        img(src="assets/img/popular/civilwar.jpg" alt="captain america: civil war" class="movie-pic")
      .column-item
        img(src="assets/img/popular/godsofegypt.jpg" alt="gods of egypt" class="movie-pic")
      .column-item
        img(src="assets/img/popular/zootopia.jpg" alt="zootopia" class="movie-pic")
      .column-item
        img(src="assets/img/popular/deadpool.jpg" alt="deadpool" class="movie-pic")
  
