section#subscribe
  .wrapper
    #subscribeContent
      h2 Subscribe to GoogleWatch mailing list to receive updates on movies and tv-series
      form
        input(type="text" placeholder="ENTER YOUR EMAIL" id="textSubscribe")
        button(type="button" id="buttonSubscribe") Update anytime &amp; anywhere
