section#upcomingMovies
  .wrapper
    .head-movie.clearfix
      h2 Upcoming Movies
      a(href="#") View all movie
    .row
      .column-item
        img(src="assets/img/upcoming/warcraft.jpg" alt="warcraft" class="movie-pic")
      .column-item
        img(src="assets/img/upcoming/theconjuring.jpg" alt="the conjuring" class="movie-pic")
      .column-item
        img(src="assets/img/upcoming/findingdory.jpg" alt="finding dory" class="movie-pic")
      .column-item
        img(src="assets/img/upcoming/suicide-squad.jpg" alt="suicide squad" class="movie-pic")
      .column-item
        img(src="assets/img/upcoming/bfg.jpg" alt="the bfg movie" class="movie-pic")
  
